<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512252187081-l7s9amrdki7u3o9gom1qr4nbg9b04afi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512252187081-l7s9amrdki7u3o9gom1qr4nbg9b04afi</string>
	<key>API_KEY</key>
	<string>AIzaSyC6NLxGfZp2jQxtGXWH-rlNb0zmguZYK-8</string>
	<key>GCM_SENDER_ID</key>
	<string>512252187081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dujoKeralaApplication</string>
	<key>PROJECT_ID</key>
	<string>leptondujokerala</string>
	<key>STORAGE_BUCKET</key>
	<string>leptondujokerala.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512252187081:ios:1d8e4087fc57b46b6f5818</string>
</dict>
</plist>